.carDetails{
    width: 500px;
    justify-content: center;
    border: 3px solid salmon;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    margin-left: 30%;
    margin-top: 20px;
}
.images1{
    width: 500px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.name1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 180px;
    font-size: 1.5rem;
    color: salmon;
}
.id{
    font-size: 1.2rem;
    color: blue;
    margin-left: 100px;
}
.priceName1{
    margin-top:0px;
    margin-bottom: 0;
    margin-left: 180px;
    font-size: 1.2rem;
}
.supplierName1{
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 125px;
    font-size: 1.3rem;
}
.description1{
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}
.delivered{
    background-color: blue;
    color: white;
    font-family: sans-serif;
    padding: 7px;
    margin-left: 210px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.login-container {
    position: relative;
    width: 350px;
    margin: 4rem auto;
    height: 300px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #373839;
 
}
.login-form {
    text-align: left;
    margin-top: 10px;
}