.delete{
    background-color: darkblue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 3px;
    border: 3px solid rgb(219, 64, 64);
    border-radius: 7px;
    margin-left: 60px;
}
.delete:hover{
    color: black;
    background-color: white;
}
.addItem{
    background-color: darkblue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 3px;
    border: 3px solid rgb(219, 64, 64);
    border-radius: 7px;
    margin-left: 50px;
}
.addItem:hover{
    color: black;
    background-color: white;
}