.addContainer{
    width: 50%;
    justify-content: center;
    margin-left: 30%;
    margin-top: 60px;
    margin-bottom: 90px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}
.input{
    background-color: rgb(207, 239, 239);
    margin-bottom: 3px;
    border-radius: 5px;
    padding: 5px;
}